*{
    padding:0;
    margin:0;
}
html{ /*
    background: linear-gradient(90deg, rgb(34, 34, 85) , rgb(54, 54, 159), rgb(31, 31, 77));
    */
}
/*Fonts*/
@font-face {
    font-family: testing;
    src: url("../fonts/AGENCYB.TTF");
}
/*Fonts*/
header{
    display: inline-block;
}
body {
    margin: 0 auto;
    width:100%;
    background: linear-gradient(90deg, rgb(34, 34, 85) , rgb(54, 54, 159), rgb(31, 31, 77));
    
}
/*Navigation Menu*/
h1{
    color:white;
    font-size: 40px;
    font-family: testing;
}
aside{
    
    border: 1px solid white;
    height:200px;
    flex-basis:30%;
    
}
article{
    flex-basis: 70%;
}
main{
    display: flex;
    
}
div{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-left: 1%;
}
div ul{
    display: flex;
    list-style: none;
    
}
div ul li{
    padding: 10px 30px;
    position: relative;
}
div ul li a{
    text-decoration: none;
    font-size:20px;
    color:white;
    transition:color 0.3s;
}
div ul li a:hover, .current{
    color:aqua;
}
/*Dynamic screen sizes*/

@media only screen and (max-width:660px) {
  
   

    
}
