*{
    padding:0;
    margin:0;
}
/*html{ 
    background: linear-gradient(90deg, rgb(34, 34, 85) , rgb(54, 54, 159), rgb(31, 31, 77));
    
}*/
/*Fonts*/
@font-face {
    font-family: testing;
    src: url("../fonts/AGENCYB.TTF");
}
/*End of Fonts*/

body {
    margin: 0 auto;
    width:100%;
    background: linear-gradient(90deg, rgb(34, 34, 85) , rgb(54, 54, 159), rgb(31, 31, 77));
    
}
/*Navigation Menu*/
h1{
    color:white;
    font-size: 40px;
    font-family: testing;
}
/*Top navigation menu*/
div{
    background-color: black;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    padding-left: 1%;
    margin-bottom: 1%;
}
div ul{
    display: flex;
    list-style: none;
    
}
div ul li{
    padding: 10px 30px;
    position: relative;
}
div ul li a{
    text-decoration: none;
    font-size:20px;
    color:white;
    transition:color 0.3s;
}
div ul li a:hover, .current{
    color:aqua;
}
/*End top navigation menu*/

aside{
    display: flex;
    border-radius: 20px;
    height:200px;
    flex-basis:10%;
    background: black;
    justify-content: center;
    align-items: center;
    margin-right:1%;
    
    
}
article {
    color:white;
    flex-basis: 90%;
    font-family:testing;
    background:black;
    font-size: 125%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    padding: 1%;
}
main{
    display: flex;
    
}

/*Dynamic screen sizes*/

@media only screen and (max-width:660px) {
  
   

    
}
